h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body{
  background-color: rgba(62, 200, 255, 0.223);
}

#MoneyButton {
    width: 250px;
    height: auto;
    visibility: visible;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
}

#main {
  display: flex;
  justify-content: flex-start;
}

#moneyButton:hover {
  transform: scale(1.05,1.05);
}

#moneyButton:active {
  transform: scale(0.95,0.95);
}

#earth-image {
  width: 380px;
}

#earth-image_div {
  text-align: center;
}

#business_items {
  display: flex;
  justify-content: flex-end;
}

#small_office {
  width: 150px;
}

#small_office:hover {
  transform: scale(1.05,1.05);
}

#small_office:active {
  transform: scale(0.95,0.95);
}

.center {
  text-align: center;
}