h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#img_clicker-button {
    width: 250px;
    height: auto;
    visibility: visible;
}

#img_clicker-button:hover {
  width: 260px;
  height: auto;
  visibility: visible;
}

#clicker-button {
  visibility: hidden;
}
